doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(id="shortUrlForm", method="get")
            input(type="text", name="shortedurl", id="shortedurl", placeholder="shorted url code")
            p 
            input(type="submit", value="submit") 
        script.
            // 폼 제출 전에 action URL을 동적으로 변경
            document.getElementById('shortUrlForm').onsubmit = function()  {
                var shortedurl = document.getElementById('shortedurl').value;
                this.action = shortedurl;
            }
