doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 welcome to shorten url!
        ul
            li 
                a(href="http://localhost:80/login") go to login
            li 
                a(href="http://localhost:80/signin") go to signin 
           
            li 
                a(href="http://localhost:80/shorturl") go to url short 
            li 
                a(href="http://localhost:80/findurl") go to find shorted url 
            